<div class="bg-dark p-5">
    <h3 class="text-light">Blocked User List</h3>
      <table class="table table-striped text-center">
          <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let row of blockedUsers index as i">
            <td class="text-light">
              <h3>{{ row | titlecase }}</h3>
            </td>
            <td>
              <div class="btn btn-primary m-1" (click)="Unblock(row)" >Unblock</div>
            </td>
          </tr>
          </tbody>
        </table>
  </div>